<ul class="popup" <!--BeginSezMenuAdminTitle-->title="{item_name}"<!--EndSezMenuAdminTitle-->>
    <!--BeginSezLayoutModify-->
    <li class="{class_name}" title="{_layout_modify}">
        <a href="javascript:ff.ffPage.dialog.doOpen('dialogManage', '{item_modify_path}?keys[ID]={item_id}&amp;location={item_location}&amp;path={item_path}&amp;ret_url={ret_url}');" class="{block_edit_class}">{block_edit_icon}</a>
    </li>
    <!--EndSezLayoutModify-->
    <!--BeginSezLayoutDefaultModify-->
    <li class="{class_name}" title="{_layout_modify}">
        <a href="javascript:ff.ffPage.dialog.doOpen('dialogManage', '{item_default_modify_path}?ret_url={ret_url}');" class="{block_edit_class}">{block_edit_icon}</a>
    </li>
    <!--EndSezLayoutDefaultModify-->
    <!--BeginSezLayoutDelete-->
    <li class="{class_name}" title="{_layout_delete}">
        <a href="javascript:ff.ffPage.dialog.doOpen('dialogManage', '{item_delete_path}');" class="{block_delete_class}">{block_delete_icon}</a>
    </li>
    <!--EndSezLayoutDelete-->
    <!--BeginSezMenuAdminAddDir-->
    <li class="{class_name}" title="{_adddir}">
        <a href="javascript:ff.ffPage.dialog.doOpen('dialogManage{huge_addnew}', '{item_path}');" class="{adddir_class}">{adddir_icon}</a>
    </li>
    <!--EndSezMenuAdminAddDir-->
    <!--BeginSezMenuAdminAddNew-->
    <li class="{class_name}" title="{_addnew}">
        <a href="javascript:ff.ffPage.dialog.doOpen('dialogManage{huge_addnew}', '{item_path}');" class="{addnew_class}">{addnew_icon}</a>
    </li>
    <!--EndSezMenuAdminAddNew-->
    <!--BeginSezMenuAdminModify-->
    <li class="{class_name}" title="{_modify}">
        <a href="javascript:ff.ffPage.dialog.doOpen('dialogManage{huge_modify}', '{item_path}');" class="{modify_class}">{modify_icon}</a>
    </li>
    <!--EndSezMenuAdminModify-->
    <!--BeginSezMenuAdminDelete-->
    <li class="{class_name}" title="{_delete}">
        <a href="javascript:ff.ffPage.dialog.doOpen('dialogManage', '{item_path}');" class="{delete_class}">{delete_icon}</a>
    </li>
    <!--EndSezMenuAdminDelete-->
    <!--BeginSezModuleModify-->
    <li class="{class_name}" title="{_module_modify}">
        <a href="javascript:ff.ffPage.dialog.doOpen('dialogManage{huge_form}', '{item_modify_path}');" class="{delete_class}">{modify_icon}</a>
    </li>
    <!--EndSezModuleModify-->
    <!--BeginSezModuleDelete-->
    <li class="{class_name}" title="{_module_delete}">
        <a href="javascript:ff.ffPage.dialog.doOpen('dialogManage', '{item_delete_path}');" class="{delete_class}">{delete_icon}</a>
    </li>
    <!--EndSezModuleDelete-->
	<!--BeginSezModuleExtra-->
	<li class="{class_name}" title="{_module_property}">
		<a href="javascript:ff.ffPage.dialog.doOpen('dialogManage{huge_form}', '{item_path}');" class="{property_class}">{property_icon}</a>
	</li>
	<!--EndSezModuleExtra-->

    <!--BeginSezMenuAdminExtra-->
    <li class="{class_name}" title="{_property}">
        <a href="javascript:ff.ffPage.dialog.doOpen('dialogManage', '{item_path}');" class="{property_class}">{property_icon}</a>
    </li>
    <!--EndSezMenuAdminExtra-->
    <!--BeginSezMenuAdminFields-->
    <li class="{class_name}" title="{_fields}">
        <a href="javascript:ff.ffPage.dialog.doOpen('dialogManage', '{item_path}');" class="{fields_class}">{fields_icon}</a>
    </li>
    <!--EndSezMenuAdminFields-->
    <!--BeginSezMenuAdminEcommerce-->
    <li class="{class_name}" title="{_ecommerce}">
        <a href="javascript:ff.ffPage.dialog.doOpen('dialogManage', '{item_path}');" class="{ecommerce_class}">{ecommerce_icon}</a>
    </li>
    <!--EndSezMenuAdminEcommerce-->
    <!--BeginSezMenuAdminSetting-->
    <li class="{class_name}" title="{_setting}">
        <a href="javascript:ff.ffPage.dialog.doOpen('dialogManage', '{item_path}?area={item_type}');" class="{setting_class}">{setting_icon}</a>
    </li>
    <!--EndSezMenuAdminSetting-->
</ul>