/* Style of the Main notification */
.cnLastOneContainer{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	/*height: 75px;*/
	background-color: rgba(0,0,0,0.8);

	color: white;
	font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
	font-weight: lighter;
	padding-top: 10px;
	padding-bottom: 7px;
	z-index: 99;
}

.cnNotiClose{
	float: right;
	padding-right: 10px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
}

.cnNotiImg{
	float: left;
	height: 35px;
	width: 35px;
}

.cnContainer{
	width: 500px;
}

.cnNotiImageContainer{
	padding-left: 4px;
	float: left;
	width: 55px;
}

.cnNotiContentContainer{
	text-align: left;
	font-size: 14px;
	float: left;
	width: 440px;
}

.cnNotiTitulo{
	font-size: 16px;
	font-weight: bold;
	display: block;
}

.cnParteBaja{
	cursor: pointer;
	font-size: 20px;
}


/* Notification Center */
#cnNotificationCenter{
	z-index: 100;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);

	color: white;
	font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
	font-weight: lighter;
	padding-top: 10px;
	padding-bottom: 7px;
}

.cnEmptySpace{
	font-size: 20px;
	position: absolute;
	top: 40%;
	left: 40%;
}

.cnTitleClose{
	float: right;
	cursor: pointer;
}

.cnFull{
	height: 100%;
}

#cnNotificationBody{

	width: 500px;
	height: 92%;

}

.cnBottomBar{
	cursor: pointer;
	font-size: 20px;
	margin-bottom: 10px;
}


/* Item Style */
.cnSpacer{
	width: 100%;
	height: 20px;
}
.cnItem{
	width: 100%;
	margin-top: 35px;
}

.cnItemImageContainer{
	padding-left: 4px;
	float: left;
	width: 50px;
}

.cnItemImage{
	float: left;
	height: 40px;
	width: 40px;
}

.cnItemTitleContainer{
	text-align: left;
	font-size: 14px;
	margin-top: 4px;
	float: left;
	width: 440px;
	font-size: 20px;
	
	border-bottom: solid;
	border-color: rgba(255,255,255,0.9);
	border-width: 1px;
	margin-bottom: 10px;
}

.cnItemDescripcion{
	text-align: left;
	font-size: 14px;
	margin-left: 53px;

	border-bottom: solid;
	border-color: rgba(255,255,255,0.2);
	border-width: 1px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.cnItemTitleDescription{
	font-size: 16px;
	display: block;

}

/* Some CSS Animations */
.animated {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.animated.fast {
	-webkit-animation-duration: 0.4s;
		-moz-animation-duration: 0.4s;
		-ms-animation-duration: 0.4s;
		-o-animation-duration: 0.4s;
		animation-duration: 0.4s;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}



/*@media screen and (max-width: 450px) and (max-width: 767px) {

	.cnNotiContentContainer{
		font-size: 12px;

	}

}*/



/* Swiper CSS */
/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-containerCrystalNotification {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-containerCrystalNotification {
	/* Specify Swiper's Size: */
	width: 500px;
	height:100%;
	/*width:200px;*/
	/*height: 100px;*/
}
.swiper-slide {
	/* Specify Slides's Size: */
	cursor: move;

}

