.toolbaradmin {
	background:#222;
	color:#fff;
	position: fixed;
	top: 0; 
	left:0;
	width:100%;
	font-size:12px;
	font-family:Arial, Verdana, sans-serif;
	text-align: left;
	padding:0;
}

.toolbaradmin.right, .toolbaradmin.left { width:84px }


.toolbaradmin UL.first { margin:0;}
.toolbaradmin DIV.right { float:right; }


.toolbaradmin>UL>LI,
.toolbaradmin .right A {
    display:block;
    float:left;
    /*outline:1px dashed purple;*/
    position:relative;
    box-sizing:border-box;
    width: 32px;
    height:32px;
    border:1px solid transparent;
}

.toolbaradmin.left>UL>LI.vg-sep,
.toolbaradmin.right>UL>LI.vg-sep  {
    display:none;
}

.toolbaradmin>UL>LI:hover {
    border:1px solid #3b7df8;
    outline:0;
}

.toolbaradmin LI.thumb-section A { position:relative; }

.toolbaradmin LI.thumb-section>A:hover:after {
	display: block;
	content: "+";
	font-size: 14px;
	color: #3B7DF8;
	background: #FFF none repeat scroll 0% 0%;
	height: 10px;
	width: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	padding: 0px;
	line-height: 0.7;
	margin: -4.8px -4.8px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.toolbaradmin>UL>LI.vg-sep {
	width:1px;
	background:#878787;
	border:0;
	outline:0;
}

.info-hide {
	height:0;
	visibility: hidden;
	display:block;
}

.toolbaradmin .submenu LI.section-detail  { background:#3B7DF8; }

.toolbaradmin LI {
	list-style: none;
}
.toolbaradmin .submenu LI {
	border-top:1px solid #3d3d3d;
	border-bottom:1px solid #121212;
}

.toolbaradmin .submenu LI:after {
	display:block;
	content:"";
	clear:both;
	width:100%;
}

.toolbaradmin .submenu LI:hover {
	background-color:#3a3a3a;
	border-top:1px solid #525252;
	border-bottom:1px solid #252525;
}
.toolbaradmin .submenu LI.section-detail,
.toolbaradmin .submenu LI.section-detail:hover { background:#3B7DF8; }

.toolbaradmin .submenu LI:first-child { border-top:0; }
.toolbaradmin .submenu LI:last-child { border-bottom:0; }

.toolbaradmin .submenu LI.layout {
    padding-left:15px;
    background-image:url("/themes/responsive/ff/ffGrid/widgets/dragsort/grippy.png");
	background-position:5px center;
	background-repeat:no-repeat;
}

.toolbaradmin .submenu LI.layout-addnew { text-align:center; }
.toolbaradmin .submenu LI.layout-addnew A { display:block; }

.toolbaradmin .submenu LI>div {
	display:table;
	width:100%;
}

.toolbaradmin A, .toolbaradmin A:active, .toolbaradmin A:visited, .toolbaradmin A:link {
	color:#fff !important;
	display:inline-block !important;
	opacity:0.6 !important;
	transition:opacity 0.3s !important;
}

.toolbaradmin A:hover {
	opacity:1 !important;
    text-decoration:none !important;
}

.toolbaradmin .submenu LI.section-detail A {
	opacity:1;
	transition:text-shadow 0.3s;
}

.toolbaradmin .submenu LI.section-detail A:hover {
	text-shadow:0 0 2px rgba(255,255,255,0.8);
}

.toolbaradmin A.title { margin-top:-2px; }

.toolbaradmin A.title, .iconright {
	display:table-cell !important;
}

.iconright { text-align:right;}

.toolbaradmin LI.ui-state-highlight {
	min-width:300px;
	height:30px;
	display:block;
	background-color:#000;
}

.toolbaradmin>UL>LI>A,
.toolbaradmin .right A {
    width:32px;
    height:32px;
    text-align:center;
    vertical-align: middle;
line-height: 2.95em;
  font-size:12px;
}
.toolbaradmin>UL>LI>A i,
.toolbaradmin .right A i{
  font-size: 1.5em !important;

}
.toolbaradmin .submenu {
    display:none;
    background:#222;
    position:absolute;
    z-index:2;
    white-space:nowrap;
    font-size:16px;
    box-shadow:0 0 1px 1px #3b7df8;
    top:0;
}

.toolbaradmin.left .submenu { left: 100%; }
.toolbaradmin.right .submenu { right: 100%; }
.toolbaradmin.top .submenu { top:100%; left:0; }

.toolbaradmin .submenu:after {
	display:block;
	clear:both;
	content:"";
	width:100%;
}

.toolbaradmin .submenu LI A {
    padding:2px 5px
}

.toolbaradmin .submenu A I {
    margin-right:5px;
}

.toolbaradmin .submenu H3 {
    font-size:1em !important;
    margin:0;
    display:inline-block;
}

.toolbaradmin .submenu TABLE {
    font-size:0.7em;
	background:#000;
}

.toolbaradmin .submenu TABLE TD {
	border:1px solid #3a3a3a;
	padding:5px 10px;
}

.toolbaradmin .submenu TABLE TD:nth-child(2) {
	width:50%;
}

.toolbaradmin .submenu TABLE TD A {
	text-decoration:underline;
}