<!--BeginSectHeaders-->
<script type="text/javascript">
	$(function(){
		$("#{component_id}_items").sortable({
			/*  connectWith: 	["#{component_id}_avaiable, #{component_id}_selected"]
				,*/ items: 		"li:not(.not-draggable)"
			, stop:		function (ev, ui) {}
			, update:	function (ev, ui) {}
		});
	});
</script>
<!--EndSectHeaders-->
{outer_wrap_start}
<div id="{component_id}" class="{component_class}">
    <div id="{component_id}_hidden" class="hidden">
        <input type="hidden" id="{component_id}_rows" name="{component_id}_rows" value="{rows}" />
        <input type="hidden" id="{component_id}_delete_row" name="{component_id}_delete_row" value="" />
        <!--BeginSectHidden-->
        <input type="hidden" id="{component_id}_{hidden_name}" name="{component_id}_{hidden_name}" value="{hidden_value}" />
        <!--EndSectHidden-->
    </div>

    {inner_wrap_start}

    {fixed_pre_content}

	<!--BeginSectError-->
	<div class="warning">{strError}</div>
	<!--EndSectError-->

	<div class="heading">
		<!--BeginSectTitle-->
		<h3 class="title">{discl_bt}{title}</h3>
		<!--EndSectTitle-->
		{fixed_title_content}
		<!--BeginSectNewHeader-->
        <div class="actions top">
            <a id="{component_id}_addrow_header" class="{addrow_class}" href="javascript:void(0);" onclick="document.getElementById('{main_record_component}detailaction').value='{component_id}'; document.getElementById('frmAction').value = '{main_record_component}detail_addrows'; <!--BeginSectHeaderTabUrl-->tabs_form_url('tabs_{tab_id}', {tab_number});<!--EndSectHeaderTabUrl--> {submit_action}">{addrow_icon}{addrow_label}</a>
            <!--BeginSectNewHeaderQta-->
            <input id="{component_id}_rowstoadd" name="{component_id}_rowstoadd" type="text" value="1" class="detailQTA"/>
            <label>{_addrow_num_col}</label>
            <!--EndSectNewHeaderQta-->
        </div>
        <!--EndSectNewHeader-->
	</div>	

	{fixed_heading_content}
	{content_wrap_start}
		<ul id="{component_id}_items" class="sortable">
			<!--BeginSectFormRow-->
			<li class="draggable{container_class}">
				<input type="hidden" name="{component_id}_sort[]" value="{row}" />
				<!--BeginSectDetailButton-->
			    <span class="ffButton">{DetailButton}</span>
				<!--EndSectDetailButton-->
				<!--BeginSectFormField-->
				<!--BeginSectFieldHidden-->
				<input type="hidden" name="{component_id}_{hidden_name}" value="{hidden_value}" /><!--EndSectFieldHidden-->
				<label>{FormFieldLabel}<!--BeginSectRequiredSymbol-->&nbsp; <span class="required">*</span><!--EndSectRequiredSymbol--><!--BeginSectDescriptionLabel--><span class="description">{description}</span><!--EndSectDescriptionLabel--></label>
				{control}
				<!--EndSectFormField-->
			</li>
			<!--EndSectFormRow-->
		</ul>
	{content_wrap_end}
    <!--BeginSectNewFooter-->
    <div class="actions">
        <a id="{component_id}_addrow_footer" class="{addrow_class}" href="javascript:void(0);" onclick="document.getElementById('{main_record_component}detailaction').value='{component_id}'; document.getElementById('frmAction').value = '{main_record_component}detail_addrows'; <!--BeginSectFooterTabUrl-->tabs_form_url('tabs_{tab_id}', {tab_number});<!--EndSectFooterTabUrl--> {submit_action}">{addrow_icon}{addrow_label}</a>
        <!--BeginSectNewFooterQta-->
        <input id="{component_id}_rowstoadd" name="{component_id}_rowstoadd" type="text" value="1" class="detailQTA"/>
        <label>{_addrow_num_col}</label>
        <!--EndSectNewFooterQta-->
    </div>
    <!--EndSectNewFooter-->
	{fixed_post_content}
    {inner_wrap_end}
</div>
{outer_wrap_end}
<!--BeginSectFooters-->
<!--EndSectFooters-->