<!--BeginSezLoginTitle-->
<h2>{_login_title}</h2>
<!--EndSezLoginTitle-->
<div id="login-container" class="{container_class} {class_social}"> 
    <div class="standard-login">
        <div class="{fields_class}">
                <!--BeginSezShowLabelUsername-->
                <label for="username">{_login_username}</label>
                <!--EndSezShowLabelUsername-->
                <input id="username" name="username" type="text" onkeydown="return ff.submitProcessKey(event, '{unic_id}btLogin')" placeholder="username"/>
        </div>
        <div class="{fields_class}">
            <!--BeginSezShowLabelPassword-->
            <label for="password">{_login_password}</label>
            <!--EndSezShowLabelPassword-->
            <input id="password" name="password" type="password" onkeydown="return ff.submitProcessKey(event, '{unic_id}btLogin')" autocomplete="off" placeholder="password"/>
    	</div>
        <!--BeginSezLostPassword-->
	<a href="{user_path}" class="{lostpassword_class}" rel="nofollow">{_lost_password_title}</a>
	<!--EndSezLostPassword-->
        <div class="stayconnect"><input type="checkbox" name="stayconnected" id="stayconnected"><label for="stayconnected">{_stay_connected}</label></div>
        <div class="{actions_class}">
            <a id="{unic_id}btLogin" href="javascript:void(0);" class="{buttons_class}" onclick="ff.cms.login.submit('login', 'login-container', this);" rel="nofollow">{_login_button}</a>
        </div> 
    </div>
	<!--BeginSezLoginExtendedFB-->
	<div class="social-login facebook" fbappid="{fb_appid}">
		<div class="fb-content">
			<p class="fb-premessage">{_pre-fb-button}</p>
		    <a class="fb-login-button" href="javascript:checkSessionBlockFB();" scope='email,user_birthday' rel="nofollow">{_fb_login_button}</a>
		</div>
		<div class="fb-data hidden"></div>
		<!--BeginSectAjaxLoader-->
		<div class="fb-loading hidden">
			<img class="ajax-loader" src="{img_ajax_loader}" />
			<p>{logged_message}</p>
		</div>
		<!--EndSectAjaxLoader-->
		<div class="fb-error hidden"></div>
	</div>
	<!--EndSezLoginExtendedFB-->
	<!--BeginSezLoginExtendedJanrain-->
	<div class="social-login janrain" janrain="{janrain_appname}">
		<div id="janrainEngageEmbed"></div>
	</div>
	<!--EndSezLoginExtendedJanrain-->
    <div class="link-login">
	<!--BeginSezRegister-->
	<a href="{user_path}" class="{link_register_class}" rel="nofollow">{_register_title}</a>
	<!--EndSezRegister-->
    </div>
</div>