<div id="container">
	<div id="header">
		<h1>{CM_LOCAL_APP_NAME}</h1>{field_accounts}
		<div id="menu">{topbar}</div>
	</div>
	<div id="content">
		<div id="window">{content}</div>
	</div>
	<div id="submenu">{navbar}</div>
</div>
<div id="footer" class="cleared">
	<p>Sviluppato da <a href="{_developer_url}">{_developer_name}</a></p>
</div>