<!--BeginSectHeaders-->
<script type="text/javascript">
	ff.pluginLoad("ff.ffPage.disclosures", "/themes/responsive/ff/ffPage/widgets/disclosures/disclosures.js"); 
</script>
<!--EndSectHeaders-->

<!--BeginSectFooters-->
<script type="text/javascript">
	<!--BeginSectInitElement-->
	ff.pluginAddInit("ff.ffPage.disclosures", function() {ff.ffPage.disclosures.init("{element}", "{section}", "{state}"); });
	<!--EndSectInitElement-->
</script>
<!--EndSectFooters-->

<!--BeginSectIstance-->
<a id="{component_id}_discl" href="javascript:ff.ffPage.disclosures.toggle('{component_id}_discl', '{component_id}_discl_sect');"></a>
<!--EndSectIstance-->
