<div class="container add-block">
	<h1 class="dialogTitle block-addnew">{_admin_bar_layout_addnew}</h1>
        <!--BeginSezFieldLayout-->
        <!--BeginSezFieldLayoutStart-->
        <fieldset class="{group_class}"> 
        <legend class="{group_type} block-type" data-rel="{group_type}">{elem_group_name}{elem_group_help}</legend>
        <!--EndSezFieldLayoutStart-->
	<!--BeginSezLayoutItem-->
	<div class="{element_class}">
	<a href="javascript:void(0)" rel="{element_class}" onclick="ff.ffPage.dialog.doOpen('{ID_dialog}', '{layout_url}','{layout_title}', true);">
		{element_icon}
		<span>
			{element_title}
			<p>{element_description}</p>
		</span>
	</a>
	</div>
	<!--EndSezLayoutItem-->
        <!--BeginSezFieldLayoutEnd-->
        </fieldset>
        <!--EndSezFieldLayoutEnd-->
        <!--EndSezFieldLayout-->
        
</div>
<div class="helper">
    {elem_close}
            <div class="vg-content">
                {_vg_content_description}
            </div>
            <div class="vg-menu">
                {_vg_menu_description}
            </div>
            <div class="vg-module">
                {_vg_module_description}
            </div>
            <div class="vg-content-adv">
                {_vg_content_adv_description}
            </div>
            <div class="vg-widget">
                {_vg_widget_description}
            </div>
            <div class="vg-applets">
                {_vg_applets_description}
            </div>
        <div>
    