.group-standard {
	width:65%;
	float:left;
	overflow:hidden;
}

.group-system {
	float: right;
	width:30%;
	padding-left:1em;
	box-sizing:border-box;
	/*overflow:hidden;*/ /* nascondeva l'autocomplete token */
}