html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

ul {
	list-style:none
}

.hide_it, .hidden { display: none !important; }

.nopadding { padding: 0 !important; margin: 0 !important; }
.padding { padding-left: 15px !important; padding-right: 15px !important; }
.vg-card { margin:0 -8px;}
.vg-card IMG { max-width:100%; height:auto; }
.vg-card-icons { position:absolute; right:0; bottom: 0;}

/* Loader*/

.draft ul, div[id$="V"] ul {
    list-style:disc;
}

.draft li, div[id$="V"] li {
    margin-left:20px;
}

/* FF Lazy System*/ 
/*IMG.lazy {border: 1px solid #cacaca;}
.lazyloader { border: 1px solid #cacaca;}*/ 
.lazyloader + IMG, .lazyloader + PICTURE { display: none;}


/* test dialog*/
.ff-modal-open {
    overflow: hidden;
}

.ff-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background: rgba(0,0,0, 0.5);
  padding: 0 10px 10px 10px;
}

.ff-modal.wait {
	cursor: wait;
}

.ff-modal-dialog {
  position: relative;
  max-width: 100%;
  margin: 30px auto 0;
}
.ff-modal-small {
    max-width: 500px;
}

.ff-modal-highlight {
	border: 4px solid yellow;
}





/* posizionamento icone per le toolbar dell'admin */
.icons-abs {
	position:absolute;
	top:0;
	right:0;
	opacity:0;
	transition:opacity 0.3s;
}

div:hover>.icons-abs {
	opacity:1;
}

.icons-abs A:link,
.icons-abs A:hover {
	display:inline-block;
	padding:0.5em;
	color:#fff;
	background-color:rgba(0,0,0,0.5);
}

/* video responsive */
div[data-resizetype="responsive"]{
	width:100%;
	height:0;
	padding-bottom:56.25%;
	position:relative;
	clear:both;
}

div[data-resizetype="responsive"]>IFRAME, div[data-resizetype="responsive"]>EMBED {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
