<!--BeginSectHeaders-->
<script type="text/javascript">
ff.pluginLoad("ff.ffGrid", "/themes/library/ff/ffGrid.js", function() {
	ff.pluginLoad("jquery.fn.jTableOrder", "/themes/responsive/ff/ffGrid/widgets/dragsort/jTableOrder.js", function() {
        ff.pluginLoad("ff.ffGrid", "/themes/library/ff/ffGrid.js", function() {
		    ff.pluginLoad("ff.ffGrid.dragsort", "/themes/responsive/ff/ffGrid/widgets/dragsort/dragsort.js"); 
        });
	});
});
</script>
<!--EndSectHeaders-->

<!--BeginSectFooters-->
<script type="text/javascript">
	ff.pluginAddInit("ff.ffGrid.dragsort", function () {
		ff.ffGrid.dragsort.init({
			"id"				: "{component_id}"
			, "data" : [
				<!--BeginSectData-->
				"{key_value}",
				<!--EndSectData-->
			]
			, "resource_id"		: "{resource_id}"
			, "service_path"	: "{service_path}"
		});
		<!--BeginSectIstance-->
		<!--EndSectIstance-->
	});
</script>
<!--EndSectFooters-->
