<!--BeginSectHeaders-->
<script type="text/javascript">
ff.pluginLoad("ff.ajax", "/themes/library/ff/ajax.js", function() {
	ff.pluginLoad("jquery-ui", "/themes/library/jquery-ui/jquery-ui.js", function() {
		ff.pluginLoad("ff.ffPage.dialog", "/themes/responsive/ff/ffPage/widgets/dialog/dialog.js");
	});
});
</script>
<!--EndSectHeaders-->
<!--BeginSectControl-->
<a href="{addjs}javascript:ff.ffPage.dialog.doOpen('{id}');" class="{class}"{id_tag}>{name}</a>
<!--EndSectControl-->
<!--BeginSectFooters-->
<script type="text/javascript">
	ff.pluginAddInit("ff.ffPage.dialog", function () {
		<!--BeginSectIstance-->
		ff.ffPage.dialog.addDialog({
			"id" : "{id}",
			"callback" : "{callback}",
			"url" : "{url}",
			"resizable" : {resizable},
			"position" : {position},
			"draggable" : {draggable},
			<!--BeginSectParams-->
			"params" : {
				<!--BeginSectParam-->
				"{param_name}" : "{param_value}" {param_colon}
				<!--EndSectParam-->
			},
			<!--EndSectParams-->
			"title" : "{title}"
			<!--BeginSectClass-->
			, "dialogClass" : "{dialog_class}"
			<!--EndSectClass-->
			<!--BeginSectHeight-->
			, "height" : {height}
			<!--EndSectHeight-->
			<!--BeginSectWidth-->
			, "width" : {width}
			<!--EndSectWidth-->
			, "doredirects" : {doredirects}
			, "responsive" : {responsive}
			, "unique" : {unique}
		});
		<!--EndSectIstance-->
	});
</script>
<!--EndSectFooters-->