<div id="container">
<div id="account">{account}</div>
    <div id="header">
        <h1>{CM_LOCAL_APP_NAME}</h1>
        {field_accounts}
        <div id="menu">
            <div id="primaryNav">{topbar}</div>
            <div id="secondaryNav">{admin}</div>
        </div>
        <div id="submenu">{navbar}</div>
    </div>
    <div id="content">{content}
    </div>
</div>
<div id="footer" class="cleared">
    <p>Sviluppato da <a href="http://www.xoduslab.com">XODUS New Media</a></p>
</div>
