<!--BeginSectHeaders-->
<script type="text/javascript">
ff.pluginLoad("ff.ffField",	"/themes/library/ff/ffField.js", function() {
	ff.pluginLoad("swfobject", "/themes/library/swfobject/swfobject.js", function () {
		ff.injectCSS("uploadify", "{uploadify}", function() {
			ff.pluginLoad("jquery.fn.uploadify", "/themes/library/plugins/jquery.uploadify/jquery.uploadify.js", function () {
				ff.pluginLoad("jquery.cookie", "/themes/library/plugins/jquery.cookie/jquery.cookie.js", function () {
					ff.pluginLoad("ff.ffField.uploadify", "{widget_path}/uploadify.js");
				});
			}, false);
		});
	}, false);
});
</script>
<!--EndSectHeaders-->


<!--BeginSectFooters-->
<script language="javascript" type="text/javascript">
	ff.pluginAddInit("ff.ffField.uploadify", function () {
        <!--BeginSectBinding-->
		ff.ffField.uploadify.init({
			component 		: "{container}{id}",
			start 			: "{suffix_start}",
			target 			: "{suffix_target}",
			tmpname 		: "{suffix_tmpname}",
			sufdel	        : "{suffix_delete}",
			basePath		: "{site_path}/themes/library/plugins/jquery.uploadify",
			//baseUrl			: "{base_url}", 
			previewJs		: {preview_js},
			viewUrl			: '{view_url}',
			previewUrl		: '{preview_url}',
            writable        : {writable},
			sizeLimit		: {size_limit},
			fileExt			: {file_ext},
			fileDesc		: {file_desc},
			model			: '{type_model}', 
			modelThumb		: '{thumb_model}',
			showFile		: {show_file},
            fullPath        : {full_path},
            dataSrc			: "{data_src}",
            icons           : {
                                "cancel" : "{cancel_class}"
                            }
		});
        <!--EndSectBinding-->
	});
</script>
<!--EndSectFooters-->

<!--BeginSectControl-->
{fixed_pre_content}
<div class="uploadify {type_model}"> 
{control}
</div>
{fixed_post_content}
<!--EndSectControl-->