/* LOCKED */
.tree-gdpvetrina .locked li a { color:gray; }
/* DOTS */
.tree-gdpvetrina ul { background-position:6px 1px; background-repeat:repeat-y; background-image:url(data:image/gif;base64,R0lGODlhAgACAIAAAB4dGf///yH5BAEAAAEALAAAAAACAAIAAAICRF4AOw==); _background-image:url("dot_for_ie.gif"); background-image:url("dot_for_ie.gif"); }
.tree-gdpvetrina li { background-position:-64px -16px; background-repeat:no-repeat; background-image:url("icons.png"); }
/* NO DOTS */
.tree-gdpvetrina .no_dots, .tree-gdpvetrina .no_dots ul { background:transparent; }
.tree-gdpvetrina .no_dots li.leaf { background-image:none; background-color:transparent; }
/* OPEN or CLOSED */
.tree-gdpvetrina li.open { background:url("icons.png") -32px -48px no-repeat; }
.tree-gdpvetrina li.closed, #jstree-dragged.tree-gdpvetrina li li.open { background:url("icons.png") -48px -32px no-repeat; }
#jstree-marker { background-image:url("icons.png"); }
/* gdpvetrina, HOVER, CLICKED, LOADING STATES */
.tree-gdpvetrina li a, .tree-gdpvetrina li span { border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tree-gdpvetrina li a:hover, .tree-gdpvetrina li a.hover, .tree-gdpvetrina li span { background: #f5efe2; border:1px solid #ece1c9; padding:0px 3px 0px 3px; }
.tree-gdpvetrina li a.clicked, .tree-gdpvetrina li a.clicked:hover, .tree-gdpvetrina li span.clicked { background: #ebdec5; border:1px solid #dbc599; padding:0px 3px 0px 3px; }
/* ICONS */
.tree-gdpvetrina ins { background-image:url("icons.png"); background-position:0 0; background-repeat:no-repeat; width:1px; height:1px; }
.tree-gdpvetrina .ltr ins { margin:0; }
.tree-gdpvetrina ul li a.loading ins { background-image:url("throbber.gif") !important; background-position:0 0 !important; } /* UL is added to make selector stronger */
.tree-gdpvetrina li a ins.forbidden { background-position:-16px -16px; }
.tree-gdpvetrina .locked li a ins { background-position:0 -48px; }
.tree-gdpvetrina li span ins { background-position:-16px 0; }
#jstree-dragged.tree-gdpvetrina ins { background:url("icons.png") -16px -32px no-repeat; }
#jstree-dragged.tree-gdpvetrina ins.forbidden { background:url("icons.png") -16px -16px no-repeat; }

/* CONTEXT MENU */
.tree-gdpvetrina-context a ins { background-image:url("icons.png"); background-repeat:no-repeat; background-position:-64px -64px; }
.tree-gdpvetrina-context a ins.create { background-position:0 -16px; }
.tree-gdpvetrina-context a ins.rename { background-position:-16px 0px; }
.tree-gdpvetrina-context a ins.remove { background-position:0 -32px; }


/* TREE LAYOUT */
.tree ul { margin:0 0 0 5px; padding:0 0 0 0; list-style-type:none; }
.tree li { display:block; min-height:18px; line-height:18px; padding:0 0 0 15px; margin:0 0 0 0; /* Background fix */ clear:both; }
.tree li ul { display:none; }
.tree li a, .tree li span { display:inline-block;line-height:16px;height:16px;color:black;white-space:nowrap;text-decoration:none;padding:1px 4px 1px 4px;margin:0; }
.tree li a:focus { outline: none; }
.tree li a input, .tree li span input { margin:0;padding:0 0;display:inline-block;height:12px !important;border:1px solid white;background:white;font-size:10px;font-family:Verdana; }
.tree li a input:not([class="xxx"]), .tree li span input:not([class="xxx"]) { padding:1px 0; }

/* FOR DOTS */
.tree .ltr li.last { float:left; }
.tree > ul li.last { overflow:visible; }

/* OPEN OR CLOSE */
.tree li.open ul { display:block; }
.tree li.closed ul { display:none !important; }

/* FOR DRAGGING */
#jstree-dragged { position:absolute; top:-10px; left:-10px; margin:0; padding:0; }
#jstree-dragged ul ul ul { display:none; }
#jstree-marker { padding:0; margin:0; line-height:5px; font-size:1px; overflow:hidden; height:5px; position:absolute; left:-45px; top:-30px; z-index:1000; background-color:transparent; background-repeat:no-repeat; display:none; }
#jstree-marker.marker { width:45px; background-position:-32px top; }
#jstree-marker.marker_plus { width:5px; background-position:right top; }

/* BACKGROUND DOTS */
.tree li li { overflow:hidden; }
.tree > .ltr > li { display:table; }
