
/*
 * jQuery UI Slider @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }


/* real css */
root { 
    display: block;
}
.mediagallery{
    width : 740px;
    height : 600px;
    margin-left : auto;
    margin-right : auto;
}
#mediagallery_video_wrap{
    float : left;
    width: 470px;  
}
#mediagallery_video{
    width: 460px;
    height : 264px;
    background-color : #474747;
    margin : 10px;
}
#mediagallery_video_descr{
    margin : 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    overflow : hidden;
    background-color : #ececec;
    border : 1px solid #e3e3e3;

    width : 450px;
 

    padding : 5px;
}

#mediagallery_more{
    float : left;
    margin : 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

    background-color : #ececec;
    border : 1px solid #e3e3e3;

    width : 220px;
    height : 535px;

    padding : 5px;
}
#mediagallery_list{
    float : left;
    height : 530px;
    width : 210px;
    overflow : hidden;
}
#mediagallery_scroll{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    float : left;
    height : 520px;
    width : 8px;
    background-color : #e3e3e3;

    margin-top : 13px;
}
#mediagallery_scroll .ui-slider-handle{
     -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    height : 20px;
    width : 8px;
    background-color : #474747;
    margin-left : 4px;
  
}

#mediagallery_scroll_hor{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    float : left;
    height : 20px;
    width : 8px;
    background-color : #e3e3e3;
    margin-top : 2px;
    display : none;
}
#mediagallery_scroll_hor .ui-slider-handle{
     -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    height : 8px;
    width : 20px;
    background-color : #474747;
    margin-top : 4px;

}
#med_list_cont{
    margin : 0;
    padding : 0;
}
#med_list_cont li{
    list-style-type:none;
    width : 200px;
    height : 100px;
	cursor : hand;
}
#med_list_cont img,h2,p{
    cursor : hand;
    float : left;
    font-family : Verdana,serif;
}
#med_list_cont img{
    width : 80px;
    height : 60px;
    margin-right : 10px;
}
#med_list_cont h2{
    font-size : 12px;
    font-weight : bold;
    color : #54bbbf;
    width : 100px;
    margin : 0;
}
#med_list_cont p{
    font-size : 11px;
    color : #474747;
    width : 100px;

}
.med_spec{
    color : #54bbbf;
    font-weight : normal;
}

#mediagallery_video_descr h1{
    font-family : Verdana,serif;
    margin : 0;
    font-size : 14px;
    color : #474747;
    font-weight : bold;
}
#mediagallery_video_descr h1 .med_sideInf{
    font-size : 11px;
    color : #474747;
    font-weight : normal;
}
#mediagallery_video_descr p{
    font-family : Verdana,serif;
    font-size : 11px;
    color : #474747;

}
.hidden{
    display : none;
}
.med_active{
    background-color : #e4e4e4;
}
.med_current{
    background-color :#e4e4e4;
}