<!--BeginSectHeaders-->
<script type="text/javascript">
var CKEDITOR_BASEPATH = document.location.protocol + '//' + window.location.hostname + ff.site_path + '/themes/library/ckeditor/';
ff.pluginLoad("ff.ffField",	"/themes/library/ff/ffField.js", function() {
	ff.pluginLoad("CKEDITOR", "/themes/library/ckeditor/ckeditor.js", function () {
			ff.pluginLoad("ff.ffField.ckeditor", "{widget_path}/ckeditor.js");
	});
});
</script>
<!--EndSectHeaders-->

<!--BeginSectFooters-->
<script language="javascript" type="text/javascript">
	ff.pluginAddInit("ff.ffField.ckeditor", function () {
		<!--BeginSectBinding-->
		ff.ffField.ckeditor.init("{container}{id}", {widget_brmode}, "{widget_theme}", "{widget_skin}", "{widget_lang}", {widget_toolbar}, {widget_custom_config});
		<!--EndSectBinding-->
	});
</script>
<!--EndSectFooters-->

<!--BeginSectControl-->
{fixed_pre_content}
<textarea name="{container}{id}" id="{container}{id}" class="{class}" style="{style}" {properties} >{value}</textarea>
{fixed_post_content}
<!--EndSectControl-->