<!--BeginSectMenu-->
<ul class="{navbar_class}">
	<!--BeginSectElement-->
		<!--BeginSectLink-->
		<li><a href="{path}" {selected}>{label}</a></li>
		<!--EndSectLink-->
		<!--BeginSectHeading-->
		<!--<h3>{label}</h3>-->
		<!--EndSectHeading-->
	<!--EndSectElement-->
</ul>
<!--EndSectMenu-->
{content}