TR.cache,
TR.international {
	height: 90px;
}
TR.config {
	height: 110px;
}
TR.uploads {
	height: 45px;
}
TR.system {
	height: 300px;
}
TR.database,
TR.trash,
TR.thumb {
	height: 32px;
}
TD.info {
	width: 350px;
}
TD.status {
	width: 200px;
}
.button { 
	background: #4487f6;
	border: 1px solid #2876f2;
	color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
	cursor: pointer;
	margin:2px;
	padding: 5px 8px;
}
.button:hover {
	background: #3079ef;
	border: 1px solid #2b58bb;
	color:#fff;
}