/*div[class^="ff"] div, div[class^="ff"] span, div[class^="ff"] applet, div[class^="ff"] object, div[class^="ff"] iframe,
div[class^="ff"] h1, div[class^="ff"] h2, div[class^="ff"] h3, div[class^="ff"] h4, div[class^="ff"] h5, div[class^="ff"] h6, div[class^="ff"] p, div[class^="ff"] blockquote, div[class^="ff"] pre,
div[class^="ff"] a, div[class^="ff"] abbr, div[class^="ff"] acronym, div[class^="ff"] address, div[class^="ff"] big, div[class^="ff"] cite, div[class^="ff"] code,
div[class^="ff"] del, div[class^="ff"] dfn, div[class^="ff"] em, div[class^="ff"] font, div[class^="ff"] img, div[class^="ff"] ins, div[class^="ff"] kbd, div[class^="ff"] q, div[class^="ff"] s, div[class^="ff"] samp,
div[class^="ff"] small, div[class^="ff"] strike, div[class^="ff"] strong, div[class^="ff"] sub, div[class^="ff"] sup, div[class^="ff"] tt, div[class^="ff"] var,
div[class^="ff"] b, div[class^="ff"] u, div[class^="ff"] i, div[class^="ff"] center,
div[class^="ff"] dl, div[class^="ff"] dt, div[class^="ff"] dd, div[class^="ff"] ol, div[class^="ff"] ul, div[class^="ff"] li,
div[class^="ff"] fieldset, div[class^="ff"] form, div[class^="ff"] label, div[class^="ff"] legend, div[class^="ff"] checkbox,
div[class^="ff"] table, div[class^="ff"] caption, div[class^="ff"] tbody, div[class^="ff"] tfoot, div[class^="ff"] thead, div[class^="ff"] tr, div[class^="ff"] th, div[class^="ff"] td {
	 margin: 0; 
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-shadow:0;
	cursor:default;
	opacity:1;
	font-weight:normal;
}*/

div[class^="ff"] A, div[class^="ff"] A * { cursor:pointer; }

div[class^="ff"] ol, div[class^="ff"] ul {
	list-style: none;
}
div[class^="ff"] blockquote, div[class^="ff"] q {
	quotes: none;
}

/* remember to highlight inserts somehow! */
div[class^="ff"] ins {text-decoration: none;}

div[class^="ff"] del {text-decoration: line-through;}

/* tables still need 'cellspacing="0"' in the markup */
div[class^="ff"] table {
	border-collapse: collapse;
	border-spacing: 0;
}

div[class^="ff"] IMG { border: none; }

div[class^="ff"] A { text-decoration: none; }
div[class^="ff"] A:link{color: #000000; text-decoration: none; }
div[class^="ff"] A:visited{color: #000000; text-decoration: none; }
div[class^="ff"] A:hover{color: #999999; text-decoration:none; }
div[class^="ff"] A:active{color: #000000; }

LI { list-style-type: none; }

/* fine reset */

/* reset foundation */

UL { font-size:1em; }
.columns TEXTAREA.autocomplete { margin-bottom:0; }
.columns .row.autocomplete { padding-bottom:1rem; }

/* fine reset foundation */


/* reset bootstrap */

.dlgTitle { margin-top:0; margin-bottom:0; }
.row.checkbox LABEL { padding:0; }
.row.checkbox input[type="checkbox"] { position:static; margin-left:0; line-height:1; min-height:0;}

.input-group .btn:last-child { display:table-cell; width:1%; }

.dropdown-menu { font-size:1em; }

/* fine reset bootstrap */

/* jQuery UI accordion */
.ui-accordion .ui-accordion-header{display:block;cursor:pointer;position:relative;margin-top:2px;padding:.5em .5em .5em .7em;min-height:0}.ui-accordion .ui-accordion-icons{padding-left:2.2em}.ui-accordion .ui-accordion-noicons{padding-left:.7em}.ui-accordion .ui-accordion-icons .ui-accordion-icons{padding-left:2.2em}.ui-accordion .ui-accordion-header .ui-accordion-header-icon{position:absolute;left:.5em;top:50%;margin-top:-8px}.ui-accordion .ui-accordion-content{padding:1em 2.2em;border-top:0;overflow:auto}

/* jQuery UI autocomplete */
.ui-autocomplete{position:absolute;top:0;left:0;cursor:default}

/*jQuery UI button*/
.ui-button{display:inline-block;position:relative;padding:0;line-height:normal;margin-right:.1em;cursor:pointer;vertical-align:middle;text-align:center;overflow:visible}.ui-button,.ui-button:link,.ui-button:visited,.ui-button:hover,.ui-button:active{text-decoration:none}.ui-button-icon-only{width:2.2em}button.ui-button-icon-only{width:2.4em}.ui-button-icons-only{width:3.4em}button.ui-button-icons-only{width:3.7em}.ui-button .ui-button-text{display:block;line-height:normal}.ui-button-text-only .ui-button-text{padding:.4em 1em}.ui-button-icon-only .ui-button-text,.ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px}.ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em}.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em}.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em}input.ui-button{padding:.4em 1em}.ui-button-icon-only .ui-icon,.ui-button-text-icon-primary .ui-icon,.ui-button-text-icon-secondary .ui-icon,.ui-button-text-icons .ui-icon,.ui-button-icons-only .ui-icon{position:absolute;top:50%;margin-top:-8px}.ui-button-icon-only .ui-icon{left:50%;margin-left:-8px}.ui-button-text-icon-primary .ui-button-icon-primary,.ui-button-text-icons .ui-button-icon-primary,.ui-button-icons-only .ui-button-icon-primary{left:.5em}.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary{right:.5em}.ui-buttonset{margin-right:7px}.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em}input.ui-button::-moz-focus-inner,button.ui-button::-moz-focus-inner{border:0;padding:0}

/* jQuery UI menu */
.ui-menu{list-style:none;padding:2px;margin:0;display:block;outline:none}.ui-menu .ui-menu{margin-top:-3px;position:absolute}.ui-menu .ui-menu-item{margin:0;padding:0;width:100%;list-style-image:url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)}.ui-menu .ui-menu-divider{margin:5px -2px 5px -2px;height:0;font-size:0;line-height:0;border-width:1px 0 0 0}.ui-menu .ui-menu-item a{text-decoration:none;display:block;padding:2px .4em;line-height:1.5;min-height:0;font-weight:normal}.ui-menu .ui-menu-item a.ui-state-focus,.ui-menu .ui-menu-item a.ui-state-active{ font-weight:normal;margin:-1px; background-color:#4081f5; color:#fff;}.ui-menu .ui-state-disabled{font-weight:normal;margin:.4em 0 .2em;line-height:1.5}.ui-menu .ui-state-disabled a{cursor:default}.ui-menu-icons{position:relative}.ui-menu-icons .ui-menu-item a{position:relative;padding-left:2em}.ui-menu .ui-icon{position:absolute;top:.2em;left:.2em}.ui-menu .ui-menu-icon{position:static;float:right}

/*jQuery UI progressbar*/
.ui-progressbar{height:2em;text-align:left;overflow:hidden}.ui-progressbar .ui-progressbar-value{margin:-1px;height:100%}.ui-progressbar .ui-progressbar-overlay{background:url("images/animated-overlay.gif");height:100%;filter:alpha(opacity=25);opacity:0.25}.ui-progressbar-indeterminate .ui-progressbar-value{background-image:none}

/* jQuery UI resizable */
.ui-resizable{position:relative}.ui-resizable-handle{position:absolute;font-size:0.1px;display:block}.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none}.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}

/* jQuery UI selectable */
.ui-selectable-helper{position:absolute;z-index:100;border:1px dotted black}

/* jQuery UI slider */
.ui-slider{position:relative;text-align:left}.ui-slider .ui-slider-handle{position:absolute;z-index:2;width:1.2em;height:1.2em;cursor:default}.ui-slider .ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0;background-position:0 0}.ui-slider.ui-state-disabled .ui-slider-handle,.ui-slider.ui-state-disabled .ui-slider-range{filter:inherit}.ui-slider-horizontal{height:.8em}.ui-slider-horizontal .ui-slider-handle{top:-.3em;margin-left:-.6em}.ui-slider-horizontal .ui-slider-range{top:0;height:100%}.ui-slider-horizontal .ui-slider-range-min{left:0}.ui-slider-horizontal .ui-slider-range-max{right:0}.ui-slider-vertical{width:.8em;height:100px}.ui-slider-vertical .ui-slider-handle{left:-.3em;margin-left:0;margin-bottom:-.6em}.ui-slider-vertical .ui-slider-range{left:0;width:100%}.ui-slider-vertical .ui-slider-range-min{bottom:0}.ui-slider-vertical .ui-slider-range-max{top:0}

/* jQuery UI spinner */
.ui-spinner{position:relative;display:inline-block;overflow:hidden;padding:0;vertical-align:middle}.ui-spinner-input{border:none;background:none;color:inherit;padding:0;margin:.2em 0;vertical-align:middle;margin-left:.4em;margin-right:22px}.ui-spinner-button{width:16px;height:50%;font-size:.5em;padding:0;margin:0;text-align:center;position:absolute;cursor:default;display:block;overflow:hidden;right:0}.ui-spinner a.ui-spinner-button{border-top:none;border-bottom:none;border-right:none}.ui-spinner .ui-icon{position:absolute;margin-top:-8px;top:50%;left:0}.ui-spinner-up{top:0}.ui-spinner-down{bottom:0}.ui-spinner .ui-icon-triangle-1-s{background-position:-65px -16px}

/* jQury UI tabs */
.ui-tabs{position:relative;padding:.2em}.ui-tabs .ui-tabs-nav{margin:0;padding:.2em .2em 0}.ui-tabs .ui-tabs-nav li{list-style:none;float:left;position:relative;top:0;margin:1px .2em 0 0;border-bottom-width:0;padding:0;white-space:nowrap}.ui-tabs .ui-tabs-nav li a{float:left;padding:.5em 1em;text-decoration:none}.ui-tabs .ui-tabs-nav li.ui-tabs-active{margin-bottom:-1px;padding-bottom:1px}.ui-tabs .ui-tabs-nav li.ui-tabs-active a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-tabs-loading a{cursor:text}.ui-tabs .ui-tabs-nav li a,.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a{cursor:pointer}.ui-tabs .ui-tabs-panel{display:block;border-width:0;padding:1em 1.4em;background:none}

/* jQuery UI tooltip */
.ui-tooltip{padding:8px;position:absolute;z-index:9999;max-width:300px;-webkit-box-shadow:0 0 5px #aaa;box-shadow:0 0 5px #aaa}body .ui-tooltip{border-width:2px}

/* jQuery UI core */
.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{min-height:0}.ui-front{z-index:100}

/* input group & form-control */
.vg-input-group { display:table; width:100%; }
.vg-input-group .vg-form-control, .vg-input-group-addon { display:table-cell; }

.vg-input-group>INPUT { margin-bottom:0; }

.vg-form-control { width:100%; }
 .vg-input-group-addon { width:1%;}


/* warning */
.ffGrid .warning,
.ffRecord .warning,
.ffDetails .warning,
.ffGrid .error,
.ffRecord .error,
.ffDetails .error {
	clear:both;
	text-align:center;
	padding: 0.8em;
	margin:1em 0;
	border:2px solid #DD4330;
	color:#DD4330;
}

.ffGrid .warning A,
.ffRecord .warning A,
.ffDetails .warning A,
.ffGrid .error A,
.ffRecord .error A,
.ffDetails .error A {
	color:#DD4330;
	text-decoration:underline;
	font-weight:bold;
	margin-left:0.5em;
}


.sort-block { clear:both; }

/* dialog cancella elemento */
.message I, .message>span { display:table-cell; vertical-align:middle; }

.message>span>span { font-size:0.5em; }


/* Griglie e tabelle */
.ffGrid TR.clickable TD.ffField,
.ffGrid TD.ffField.clickable {
	cursor: pointer;
}


.ffGrid .heading,
.ffDetails .heading {
	/*overflow:hidden;*/
	margin-bottom:10px;
}

.ffGridCommands {
	margin-bottom:10px;
}

.alphanum TABLE A {
	display:block;
	text-align:center;
}

.alphanum TABLE TD { border-top:0 none !important; }

.alphanum TD:not(.searchtoolsall) A { text-transform:uppercase; }

TABLE.ffGrid,
TABLE.ffGrid TABLE, 
TABLE.ffDetails,
TABLE.ffDetails TABLE {
	clear:both;
	width:100%;
}

TABLE.ffGrid TH,
TABLE.ffGrid TD,
TABLE.ffDetails TH,
TABLE.ffDetails TD  {
	border:1px solid #f1f1f1;
	padding:10px;
	vertical-align:middle;
	font-weight:normal;
}

TABLE.ffGrid TH.number,
TABLE.ffGrid TD.number,
TABLE.ffGrid TD.checkbox,
TABLE.ffDetails TH.number,
TABLE.ffDetails TD.number,  
TABLE.ffDetails TD.checkbox  {
	text-align:center;
}

.ffGrid>TABLE TH,
.ffGrid>TABLE TD,
.ffDetail>TABLE TH,
.ffDetail>TABLE TD {
	border:1px solid #f7f7f7;
	padding:6px;
	vertical-align:middle;
	font-weight:normal;
}

.ffGrid TH.file { width:1%; }

.ffGrid TH.ffButton,
.ffDetails TH.ffButton { width:1em; }

TABLE.ffGrid TR:hover,
.ffGrid TABLE.ffDetails TR:hover { background-color:#f5f5f5; }

TABLE.ffGrid TABLE TR:hover,
TABLE.ffDetails TABLE TR:hover { background-color:#e8e8e8; }

TD INPUT[type="file"], TD INPUT[type="checkbox"], TD INPUT[type="radio"], TD SELECT { margin-bottom:0; } /* reset del marigne di foundation */

.ffDetails .title {
	clear:both;
	overflow:hidden;
}

.ffDetails .heading H3.title {
	display:block;
	font-size:1.3em;
	line-height:1.5em;
	font-weight:normal;
	margin-top:1em; /* deve allinearsi al div.actions */
	float:left;
}

DIV> .title {
	border-top:1px solid #c1c1c1;
	padding-top:1em;
	margin-top:1em;
}

.ffDetails .title H3 {
	font-size:1.5em;
	font-weight:normal;
	color:#c1c1c1;
}

div[class^="ff"] FIELDSET { 
	box-sizing:border-box;
	margin-bottom:1em;
}

div[class^="ff"] LEGEND {
	color:#c1c1c1;
	font-size:1.4em;
	text-transform:capitalize;
}

.ffDetails LEGEND {
	line-height:1.9em;
	padding:0.5em 1.4em;
}



.ffButton { text-align:center; }

.ffDetails LEGEND .ffButton {
	float:right;
}

.ffDetails FIELDSET .line {
	/*padding:1em 1.4em;*/
}

/* pulsanti */

div[class^="ff"]  .actions,
#bo-content  .actions{
	text-align:right;
	/*display:inline-block;
	float:right;
	clear:right;
	overflow:hidden;
	padding:1em 0;*/
}

/*.actions .button,
.actions .activebuttons,
.actions A.link, 
.ricerca-semplice A.ico-search,
.autocompletetoken A.link /* autocomplete token */ /*{
	/*display:inline-block;
	padding:1em;
	box-sizing:border-box;
	width:auto;
	float:none;
}*/

/*.ricerca-semplice A.ico-search {
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	
}*/

.actions .button::-moz-focus-inner {padding:0; border:0;} /* reset input per firefox */

div[class^="ff"]  .actions>* + *,
.actions>* + * { margin-left:10px !important; }

div[class^="ff"] li.token-input-token {
    overflow: auto;
    margin: auto;
    padding: auto;
    display: auto;
}

div[class^="ff"] .actions I,
.actions I{ margin-right:5px; }

.ffDetails .actions A {
	width:auto !important;
}

.actions INPUT { float:left; }
.ffDetails .actions.top INPUT { float:none; }

.dlgBottomPanel A, .dlgTopPanel A, .dialogActionsPanel A { margin-bottom:0; width:auto !important;}

/*.uploadifive { float:none !important; }*/


/* searchbar */

.ffGrid DIV.search {
	float:left;
	position:relative;
	margin-bottom:8px;
}

.ricerca-semplice {
	position:relative;
	display:inline-block;
}

.ricerca-semplice A {
	position:absolute;
	right:0;
	top:0;
	height:100%;
	box-sizing:border-box;
	padding:1em;
}

.ricerca-semplice A.search { right:-3em; }

.adv-search {
	padding:1em;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	z-index:5;
}


/* autocomplete */



A.autocomplete-combo {
	position: absolute;
	right: 0px;
	bottom: 0;
	box-sizing: border-box;
	padding: 1em !important;
	width:auto;
}

TEXTAREA.autocomplete { resize:none; }

 div[class^="ff"]  .ui-autocomplete {
	box-shadow:0;
	border:1px solid #ccc;
	border-width:0 1px 1px;
	background:#fff;
}

.ui-menu .ui-menu-item a.ui-state-focus,.ui-menu .ui-menu-item a.ui-state-active {
	margin:0 !important;
}

/* public */

.public img{
	display:block;
	float:left;
	width:100px;
	height:100px;
	margin-right:0.5em;
}

.public a:last-child { display:inline-block; margin:0.5em 0 0 0; }


/* minimum dialog */

.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%;}

.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    padding: .2em;
    outline: 0;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative;
}

.ui-dialog .ui-dialog-title {
    float: left;
    margin: .1em 0;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 21px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
}

.ui-dialog .ui-dialog-content {

    border: 0;
    padding: 0; /* il padding fa sbarellare il calcolo delle dimensioni nel resize */
    background: none;
    overflow: auto;
}

.ui-dialog .ui-dialog-content>* { padding:0 1.5em 0 1.5em; /*margin-left:1em;*/}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin-top: .5em;
    padding: .3em 1em .5em .4em;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0;
    cursor: pointer;
}

.ui-dialog .ui-resizable-se {
    width: 12px;
    height: 12px;
    right: -5px;
    bottom: -5px;
    background-position: 16px 16px;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}




.ui-dialog {
	font-size:0.8em;
	background:#fff;
	box-shadow:0 0 20px rgba(0,0,0,0.3);
	min-width:350px;
}

/*
.ui-dialog .ui-dialog-content {
	margin-bottom:58px  !important;  il margin deve essere uguale all'altezza del div .actions 
}*/

.ui-dialog IFRAME.ui-dialog-content {
	margin-bottom:0  !important; /* nell'install i bottoni sono interni all'iframe' */
	padding:0.5em 0;
}

.ui-icon-closethick { width:15px; height:15px; }
.ui-icon-closethick:before, .ui-icon-closethick:after {
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:6px;
	width:2px;
	height:15px;
	background:rgba(0,0,0,0.5);
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	-webkit-transition:background 0.3s;
	transition:background 0.3s;
}
.ui-icon-closethick:after {-webkit-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg);}

.ui-dialog-titlebar-close:hover .ui-icon-closethick:before, .ui-dialog-titlebar-close:hover .ui-icon-closethick:after { background:rgba(0,0,0,1); }

.dlgTopPanel, .dlgBottomPanel{
	text-align: right;
	padding: 1em;
}
/*
.dlgBottomPanel{
	position:absolute;
	bottom:0;
	right:0;
	padding:1em;
	background:#fff;
	width:auto;
	box-sizing:border-box;
	
} */
 
.ui-resizable {
    position: relative;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
}

.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}

.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}

.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}

.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}






.ffRecord .line,
.ffGrid .line {
	margin:1em 0;
	clear:both;
        height:auto;
}

.timepicker { overflow:hidden; } /* line che contiene elementi in float, ha bisogno dell'overflow per avere un altezza'  */

.line.autocompletetoken {
	height:4em !important; /* 1em di label + 3em di input */
	padding-bottom:4px; /* il padding della label */
	padding-right:1em; /* pareggia in larghezza la UL al suo interno */
}

/* label */
.ffRecord .line LABEL,
.ffGrid .line LABEL,
.ffDetails .line LABEL {
	display:block;
	margin-bottom:4px;
}

INPUT.detailQTA + LABEL{
	display:inline;
}

/* input string */
.ffRecord INPUT,
.ffGrid INPUT,
.ffDetails INPUT,
.ffRecord SELECT,
.ffGrid SELECT,
.ffDetails SELECT,
.ffRecord TEXTAREA,
.ffRecord LABEL+SPAN.readonly,
.ffGrid LABEL+SPAN.readonly,
.ffDetails LABEL+SPAN.readonly {
	font-family:Verdana;
	line-height:3em;

	font-size:1em;
	padding:0 5px;
	border:1px solid #c6c6c6;
	width:100%;
	box-sizing:border-box;
	display:inline-block;
}

.ffRecord LEGEND SELECT { width:auto !important; margin:0 !important; line-height:1em !important; } 

TD.number  { min-width:4.2em; }
.number INPUT { 
	height:2.3em !important;
	text-align:right;
	margin-right:0.3em;
	border-width:0 0 1px 0 !important;
	padding:0 !important;
}

.ffRecord LABEL+SPAN.readonly,
.ffGrid LABEL+SPAN.readonly,
.ffDetails LABEL+SPAN.readonly {
	color:#666;
	background-color:#fafafa;
	cursor:default;
}

.ffRecord INPUT[type="checkbox"],
.ffGrid  INPUT[type="checkbox"],
.ffDetails  INPUT[type="checkbox"],
.ffRecord INPUT.radio,
.ffGrid  INPUT.radio,
.ffDetails  INPUT.radio {width:auto; height:auto; }


INPUT.detailQTA { width:3em; vertical-align:bottom;}

div:not(.autocomplete) TEXTAREA,
	div:not(.block) TEXTAREA {
	min-width:300px;
}

SELECT.ffWidget_timepicker {
	width:49% !important;
	display:block;
	float:left;
}

SELECT.ffWidget_timepicker + SPAN {
	display:block;
	float:left;
	width:2%;
	text-align:center;
	line-height:3em;
}

/* slider */

div[class^="ff"] .slider-box {
	height: 3em;
	position:relative;
	padding:1em 0 0 4em;
	box-sizing:border-box;
}

div[class^="ff"] .slider-box INPUT.slider {
	width:3em;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
}

div[class^="ff"]  .ui-slider-horizontal { border:1px solid #c6c6c6;  }
div[class^="ff"]  A.ui-slider-handle { border:1px solid #6e6e6e; background:#c6c6c6; }

/* checkbox */

/*.ffRecord .line.checkbox {
	position:relative;
}

div.checkbox LABEL { 
	display:inline-block;
	margin-left:2em;
}

div.checkbox INPUT {
	position:absolute;
	top:50%;
	margin-top:-8px;
	left:0;
	width:auto;
}*/

/* activecomboex */

/*.activecomboex.editable,
.actex.editable,*/
TD.actex,
TD.activecomboex,
TD.autocomplete,
TD.autocompletetoken {
	box-sizing:border-box;
	width:100%;
	display:block;
	position:relative;
}


LEGEND .activecomboex-wrapper,
LEGEND .actex-wrapper,
LEGEND .autocomplete { display:inline; }

.activecomboex-wrapper,
.actex-wrapper,
div.autocomplete,
div.autocompletetoken { position:relative; }

.actex.editable,
.activecomboex.editable,
.autocomplete.editable,
.autocompletetoken.editable {
	padding-right:2em;
	display:block;
} 

TD.actex,
TD.activecomboex,
TD.autocomplete,
TD.autocompletetoken {
	width:auto;
	display:table-cell;
	padding-right:2em !important;
}


.activecomboex-icon,
.actex-icon{
	display: block;
	position: absolute;
	right:0;
	bottom:0; 
	z-index:2;
}

.row .activecomboex-icon,
.row .actex-icon{
	top:0
}

.activecomboex-icon SPAN,
.actex-icon SPAN { display:inline-block; }

.ffDetails FIELDSET .line .activecomboex-icon
.ffDetails FIELDSET .line .actex-icon { right:0.6em } /* questo perchè le .line nei filedset hanno un padding di 1.4em ai lati */

.activecomboex-icon .activecomboex-abs,
.actex-icon .actex-abs {
	position: absolute;
	right: 4.5em;
	top:0;
	width:4em;
	display:none;
	opacity:0;
	transition:opacity 0.4s;
}

.activecomboex:hover .activecomboex-abs,
.actex:hover .actex-abs{
	display:block;
}

.activecomboex-wrapper:hover .activecomboex-abs,
.actex-wrapper:hover .actex-abs{
	opacity:1;
}

.activecomboex-icon A,
.actex-icon A { 
	line-height:3em;
	text-align:center;
	width:2em;
	height:3em;
	
}

/* da delle dimensioni di base prima di venire nascosto e sostituito da CodeMirror */
TEXTAREA.ffWidget_codemirror {
	min-width:450px;
	min-height:200px;
}

.CodeMirror { border:1px solid #c6c6c6; }


/* page navigator */

/*.ffGrid .FormsGridCommands {
	clear: both;
}

.ffGrid .FormsGridCommands.cleared.top {
	width:100%;
	overflow:hidden;
}

.pageNavigator .perPage, .pageNavigator .pages, .pageNavigator .choice {

	width:auto;
	padding: 4px 6px;
	line-height: 16px;
	border: 1px solid transparent;
}

.pageNavigator .totelem {
	float:right;
	border: 1px solid transparent;
}

.pageNavigator .perPage:hover, .pageNavigator .pages:hover, .pageNavigator .choice:hover, .pageNavigator .totelem:hover {
	border: 1px solid transparent;
}

.pageNavigator .pages .page { display:inline; }
.pageNavigator .pages A { margin:0 5px 0 0; }

.pageNavigator .choice INPUT.currentpage {
	height: 14px;
	border: 1px solid transparent;
	line-height:1;
	margin:0 !important;
}

.ffGrid INPUT.currentpage { width:auto; box-sizing:content-box; padding:1px 2px;}
.ffGrid .choice LABEL { display:inline; }

.page.current A {
	color:#666;
}

.pageNavigator .perPage a {
	height: 14px;
	line-height: 1;
	padding: 1px 4px;
	border: 1px solid transparent;

}

.rec-x-page-all:before {
	content:"Tutti"
}*/

/* Aggiungi blocco */

.add-block .item { overflow:hidden; }

.add-block A { 
	padding:0.8em;
	height:100px;
	text-align:center;
	vertical-align:middle;
	transition:0.3s;
	background-clip: content-box;
	display:table;
	z-index:1;
}

.add-block A:hover { 
	transform:scale(1.08);
	z-index:2;
}

.add-block A>SPAN P { display:none; }

.add-block A>I, .add-block A>SPAN {
	display:table-cell;
	height:100%;
	vertical-align:middle;
	color:#fff;
}

.add-block A>I { font-size:4em; }
.add-block A.priority-3>I { font-size:4.5em !important; }
.add-block A>SPAN { font-size:1.5em; padding:0.3em; text-align:left;}
.add-block A.priority-3>SPAN P { display:block; font-size:0.5em; margin-bottom:0 !important; }

.add-block A.priority-2,
.add-block A.priority-2 >SPAN,
.add-block A.priority-2>I { display:inline-block; }
.add-block A.priority-2>SPAN P { display:none; } 
  
/* grandezza colonne */
/* da problemi in admin contents block il dettaglio delle regole di visualizzazione
td.col-dep>* {
	display:inline;
	max-width:2em;
}
*/

/* Tab sub-title */

.dlgTab {
	text-align:center;
}

.dlgTab A, .dlgTab A:hover, .dlgTab A:active, .dlgTab A:visited  {
	display:inline-block;
	border-bottom:6px solid transparent;
	color:#fff;
	padding:0 2em 0.5em;
	text-align:center;
	box-sizing: border-box;
}

.dlgTab A.selected {
	border-bottom:6px solid #fff;
}

/* menu-settings (menu verticale stile chrome) */

.menu-settings {
	float:left;
	margin-left:-12px !important;
}

div[class^="ff"] .menu-settings + div {
	height:100%;
	overflow:auto;
}

/* modify vgallery nodes */

.ffRecord>DIV { position:relative; }


.text-nowrap {
	white-space: nowrap;
}


.text-overflow {
	overflow: hidden;
	text-overflow :ellipsis;
}
.text-lowercase {
	text-transform: lowercase;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-capitalize {
	text-transform: capitalize;
}
.disabled {
	opacity: 0.4;
	pointer-events: none;
}




/* Aggiungi blocco */

.add-block .item {
    overflow: hidden;
    background: #f5f5f5;
    border: 1px solid transparent;
    background-clip: padding-box;
    min-width:88px;
}

.add-block A { 
	padding: 0.5em 0;
        height: 130px;
        text-align: center;
        vertical-align: middle;
        transition: 0.3s;
        background-clip: content-box;
        display: table;
        z-index: 1;
        margin: 0 auto;
        text-decoration: none;
        overflow:hidden;

}
.add-block .item:hover{
    box-shadow: 0px 0px 20px #cacaca;
    z-index:100;
    transition: 0.3s;
}

.add-block A:hover { 
	opacity: 0.9;
}

.add-block A>SPAN P { display:none; }

.add-block A>I, .add-block A>SPAN {
	display:block;
	height:62%;
	vertical-align:middle;
	color:#cacaca;
        border:none !important;
}

.add-block A>I { font-size:6em !important; }
.add-block A.priority-3>I { font-size:4.5em !important; }
.add-block A>SPAN {
    font-size: 0.9em;
  padding: 0.3em;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 60px;
}
.add-block A>SPAN:hover {
  overflow: visible;
  width: auto;
}
.add-block A.priority-3>SPAN P { display:block; font-size:0.5em; margin-bottom:0 !important; }

.add-block A.priority-2,
.add-block A.priority-2 >SPAN,
.add-block A.priority-2>I { display:inline-block; }
.add-block A.priority-2>SPAN P { display:none; } 
  
/* grandezza colonne */
/* da problemi in admin contents block il dettaglio delle regole di visualizzazione
td.col-dep>* {
	display:inline;
	max-width:2em;
}
*/

/* Tab sub-title */

.dlgTab {
	text-align:center;
}

.dlgTab A, .dlgTab A:hover, .dlgTab A:active, .dlgTab A:visited  {
	display:inline-block;
	border-bottom:6px solid transparent;
	color:#fff;
	padding:0 2em 0.5em;
	text-align:center;
	box-sizing: border-box;
}

.dlgTab A.selected {
	border-bottom:6px solid #fff;
}

/* menu-settings (menu verticale stile chrome) */

.menu-settings {
	float:left;
	margin-left:-12px !important;
}

div[class^="ff"] .menu-settings + div {
	height:100%;
	overflow:auto;
}

/* modify vgallery nodes */

.ffRecord>DIV { position:relative; }


.text-nowrap {
	white-space: nowrap;
}


.text-overflow {
	overflow: hidden;
	text-overflow :ellipsis;
}
.text-lowercase {
	text-transform: lowercase;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-capitalize {
	text-transform: capitalize;
}
.disabled {
	opacity: 0.4;
	pointer-events: none;
}




.add-block .ui-dialog-title H1 {
      padding-right: 30px;
  color: #fff;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}


.add-block legend{
    display: block;
    width: auto;
    padding: 20px 0 0 0;
    font-size: 16px;
    line-height: inherit;
    text-transform: uppercase;
    margin: 10px 0px;
    border:none;
    background:none !important;
}

.add-block legend.vg-content:first-letter{color:#DD4330;}
.add-block legend.vg-content{
    border-bottom:1px solid #DD4330;
    color:#a4a4a4 !important;
}

.add-block legend.vg-menu:first-letter{color:#FE8300;}
.add-block legend.vg-menu{
    border-bottom:1px solid  #FE8300;
    color:#a4a4a4 !important;
}

.add-block legend.vg-module:first-letter{color: #75d726;}
.add-block legend.vg-module{
    border-bottom:1px solid  #75D726;
    color:#a4a4a4 !important;
}

.add-block legend.vg-content-adv:first-letter{color: #f6c327;}
.add-block legend.vg-content-adv{
    border-bottom:1px solid  #f6c327;
    color:#a4a4a4 !important;
}


.add-block legend.vg-widget:first-letter{color:#e61791;}
.add-block legend.vg-widget{
    border-bottom:1px solid  #E61791;
    color:#a4a4a4 !important;
}


.add-block legend.vg-applets:first-letter{color:#413ebc;}
.add-block legend.vg-applets{
    border-bottom:1px solid  #413EBC;
    color:#a4a4a4 !important;
}

.add-block .fa-question-circle{
   margin-left: 20px;
}
.add-block .fa-question-circle:hover{
    cursor:pointer;
}


.helper{
    display:none;
}

.helper>div{
    color:#fff !important;
    background:none !important;
    margin:20px 0;
}
.fa-times-circle{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    float: right;
    margin: 12px 0px;
}

.resizeDialog{
    left:2% !important;
    width:64% !important;
}
#cms-editor-container{z-index: 1043 !important; color:#fff; padding:30px;background:rgba(0,0,0,0.9); top:0;}

#cms-editor-container h3{text-transform: uppercase; margin-top: 0;}
#cms-editor-container h4{text-transform: uppercase; margin-top: 20px; text-decoration: underline;}
#cms-editor-container p{font-size: 13px;}

.th.ffField:nth-child(1){
    width:26%;
}

/*sono up*/