/* anagrafica */


#Anagraph_GridData {
    clear:both;
    padding: 10px 0;
}

#Anagraph .row {
    background:#f6f6f6;
    background-image: linear-gradient(bottom, rgb(244,244,244) 43%, rgb(255,255,255) 72%);
    background-image: -o-linear-gradient(bottom, rgb(244,244,244) 43%, rgb(255,255,255) 72%);
    background-image: -moz-linear-gradient(bottom, rgb(244,244,244) 43%, rgb(255,255,255) 72%);
    background-image: -webkit-linear-gradient(bottom, rgb(244,244,244) 43%, rgb(255,255,255) 72%);
    background-image: -ms-linear-gradient(bottom, rgb(244,244,244) 43%, rgb(255,255,255) 72%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.43, rgb(244,244,244)), color-stop(0.72, rgb(255,255,255)) );
    border:1px solid #dddddd;
    width:350px;
    height:60px;
    clear:none;
    overflow: inherit;
    float:left;
    margin:0 10px 10px 0;
    position: relative;
}

#Anagraph .row:hover {
    border:1px solid #bbbbbb;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}
#Anagraph .anagraph-head {
	display: none;
}
#Anagraph SPAN.avatar {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	padding: 4px;
}
#Anagraph IMG.avatar {
	width: 50px;
	height: 50px;	
}
#Anagraph SPAN.reference A {
	font-size: 16px !important;
	line-height: 18px;
}


#Anagraph .actions .ffButton {
	float: left;
}

#Anagraph .row .actions {
	position:absolute;
	top:2px;
	right:10px;
	width:30px;
	display:none;
}

/*
#Anagraph .row .GridActions {
    width:50px;
    padding:24px 4px;
    background:#ddd;
    text-align:center;
    display:block;
    float:right;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin:0;
}

#Anagraph .row .ffButton {
    width:30px;
    height:60px;
    float:right;
}

#Anagraph .row .anagraph-head {
    padding:5px 10px 0 5px;
    height:95px;
    background:#ddd;
    text-align:center;
    display:block;
    float:left;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin:0 10px 0 0;
}

#Anagraph .row:hover .anagraph-head {
    background:#ccc;
}

#Anagraph .anagraph-head .anagraph-id {
    display:block;
    margin:24px 0 0 0;
    min-width:28px;
    text-align:right;
    float:left;
    font-size:20px;
    color:#585858;
}

#Anagraph .row .avatar {
    display:block;
    float:right;
    background:#fdfdfd;
    padding:5px;
    border:1px solid #ccc;
    width:50px;
    height:50px;
}

.central-content {
    float:left;
    margin:5px;
    width:360px;
    overflow:hidden;
}

#Anagraph .row .central-content .email {
    clear:both;
    display:block;
}

#Anagraph .row .text {
    margin:2px 0;
}

#Anagraph .row .text A {
    color:#3f3f3f;
    font-size:12px;
}
*/