{fixed_pre_body}
{admin}
<div class="off-canvas-wrap" data-offcanvas>

<div class="inner-wrap">

{fixed_pre_content}
<!--BeginSezMenuAside-->
{menu_aside}
<!--EndSezMenuAside-->
<!--BeginSezLayer-->
<!--BeginSezLayerStart-->
<div class="{layer_class}"<!--BeginSezLayerWidth--> style="width:{layer_width};"<!--EndSezLayerWidth-->> 
<!--EndSezLayerStart-->
<!--BeginSezLayerWrapStart-->
<div class="{wrap_layer_class}">
<!--EndSezLayerWrapStart-->
<!--BeginSezSection-->
<!--BeginSezSectionStart-->
<div class="{section_class}"<!--BeginSezSectionWidth--> style="width:{section_width};"<!--EndSezSectionWidth-->> 
<!--EndSezSectionStart-->
<!--BeginSezSectionWrapStart-->
<div class="{wrap_section_class}">
<!--EndSezSectionWrapStart-->
        <!--BeginSezSectionLayout-->
        {layout}
        <!--EndSezSectionLayout-->
      </div>
<!--BeginSezSectionWrapEnd-->
</div>
<!--EndSezSectionWrapEnd-->
<!--EndSezSection-->
<!--BeginSezLayerWrapEnd-->
</div>
<!--EndSezLayerWrapEnd-->

<!--BeginSezLayerEnd-->
</div>
<!--EndSezLayerEnd-->
<!--EndSezLayer-->
{fixed_post_content}

</div>

<!--BeginSezSectionEnd-->
</div>
<!--EndSezSectionEnd-->
{fixed_post_body}