{name_title}
<!--BeginSezVGallerys-->
    <!--BeginSezSort-->
    <div class="vgs">
        <h4>{sort_title}</h4>
        {sort_fields}
    </div>
    <!--EndSezSort-->
<!--BeginSezPageNavigatorTop-->
<div class="pagenavigator top"> {PageNavigator} </div>
<!--EndSezPageNavigatorTop-->
<table border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <!--BeginSezVGalleryRow-->
        <tr class="vgallery_row {vg_switch_style}">
            <!--BeginSezVGallery-->
            <td class="vgallery_item {class_col}" id="{real_name}">
                {admin}
                
                <!--BeginSezGroup-->
                <!--BeginSezGroupContainerStart-->
                <div class="{group_class}">
                <!--EndSezGroupContainerStart-->
                
                <!--BeginSezVGalleryImage-->
                <div class="vgallery_image">
                <!--BeginSezVGalleryImageNode-->
                {content}
                <!--EndSezVGalleryImageNode-->
                </div>
                <!--EndSezVGalleryImage-->
                <!--BeginSezVGalleryDescription-->
                <div class="vgallery_description {class_plugin}">
                <!--BeginSezVGalleryDescriptionNode-->
                {content}
                <!--EndSezVGalleryDescriptionNode-->
                </div>
                <!--EndSezVGalleryDescription-->

                <!--BeginSezGroupContainerEnd-->
                </div>
                <!--EndSezGroupContainerEnd-->
                <!--EndSezGroup-->
                
            </td>
            <!--EndSezVGallery-->
        </tr>
        <!--EndSezVGalleryRow-->
    </tbody>
</table>
<!--BeginSezPageNavigatorBottom-->
<div class="pagenavigator bottom"> {PageNavigator} </div>
<!--EndSezPageNavigatorBottom-->
<!--EndSezVGallerys-->
<!--BeginSezError-->
<p class="error">{strError}</p>
<!--EndSezError-->