<!--BeginSezVGallerys-->
    <!--BeginSezPageNavigatorTop-->
    <div class="pagenavigator top"> {PageNavigator} </div>
    <!--EndSezPageNavigatorTop-->
        <!--BeginSezVGalleryRow-->
	    <!--BeginSezVGallery-->
                {admin}

                <!--BeginSezGroup-->
                <!--BeginSezGroupContainerStart-->
                <div class="{group_class}">
                <!--EndSezGroupContainerStart-->
                
                <!--BeginSezVGalleryImage-->
                <!--BeginSezVGalleryImageNode-->
                {content}
                <!--EndSezVGalleryImageNode-->
                <!--EndSezVGalleryImage-->
                <!--BeginSezVGalleryDescription-->
                <div class="vgallery_description {class_plugin}">
                <!--BeginSezVGalleryDescriptionNode-->
                {content}
                <!--EndSezVGalleryDescriptionNode-->
                </div>
                <!--EndSezVGalleryDescription-->

                <!--BeginSezGroupContainerEnd-->
                </div>
                <!--EndSezGroupContainerEnd-->
                <!--EndSezGroup-->
                
        <!--EndSezVGallery-->
        <!--EndSezVGalleryRow-->
<!--BeginSezPageNavigatorBottom-->
<div class="pagenavigator bottom"> {PageNavigator} </div>
<!--EndSezPageNavigatorBottom-->
<!--EndSezVGallerys-->
<!--BeginSezError-->
<p class="error">{strError}</p>
<!--EndSezError-->