<div id="{real_father}_header" ></div>
	{name_title}
	<!--BeginSezVGallerys-->
    <!--BeginSezSort-->
    <div class="vgs">
        <h4>{sort_title}</h4>
        {sort_fields}
    </div>
    <!--EndSezSort-->
	    <!--BeginSezPageNavigatorTop-->
	    <div class="pagenavigator top"> {PageNavigator} </div>
	    <!--EndSezPageNavigatorTop-->
	        <!--BeginSezVGalleryRow-->
	        <div class="vgallery_row {vg_switch_style}"> 
		    <!--BeginSezVGallery-->
 				<div class="vgallery_item {class_col}" id="{real_name}" >
                    {admin}

	                <!--BeginSezGroup-->
	                <!--BeginSezGroupContainerStart-->
	                <div class="{group_class}">
	                <!--EndSezGroupContainerStart-->
	                
	                <!--BeginSezVGalleryImage-->
	                <div class="vgallery_image">
	                <!--BeginSezVGalleryImageNode-->
                    {content}
	                <!--EndSezVGalleryImageNode-->
	                </div>
	                <!--EndSezVGalleryImage-->
	                <!--BeginSezVGalleryDescription-->
	                <div class="vgallery_description {class_plugin}">
	                <!--BeginSezVGalleryDescriptionNode-->
                    {content}
	                <!--EndSezVGalleryDescriptionNode-->
	                </div>
	                <!--EndSezVGalleryDescription-->
	                
	                <!--BeginSezGroupContainerEnd-->
	                </div>
	                <!--EndSezGroupContainerEnd-->
	                <!--EndSezGroup-->

	                <a href="{show_file}" class="read-more">{_readmore}</a>
				</div>
	        <!--EndSezVGallery-->
			</div>
	        <!--EndSezVGalleryRow-->
	<!--BeginSezPageNavigatorBottom-->
	<div class="pagenavigator bottom"> {PageNavigator} </div>
	<!--EndSezPageNavigatorBottom-->
	<a href="{show_file_archive}" class="archive">{_archive_link}</a>
	<!--EndSezVGallerys-->
	<!--BeginSezError-->
	<p class="error">{strError}</p>
	<!--EndSezError-->
<div id="{real_father}_footer" ></div>