<!--BeginSectHeaders-->
<!--EndSectHeaders-->
{outer_wrap_start}
<{record_tag} {component_properties}> 
	<div class="hidden"> 
		<input type="hidden" id="{component}detailaction" name="{component}detailaction" value="" />
		<!--BeginSectHiddenField-->
		<input type="hidden" id="{component}{id}" name="{component}{id}" value="{value}" />
		<!--EndSectHiddenField-->
	</div>
	
	{inner_wrap_start}
	
	<!--BeginSectTitle-->
	<h2 class="{title_class}">{discl_bt}{record_title}</h2>
	<!--EndSectTitle-->
	{fixed_pre_content}

	<!--BeginSectDescription-->
	<div class="{info_class}">{record_description}</div>
	<!--EndSectDescription-->

	<!--BeginSectError-->
	<div class="{error_class}">{strError}</div>
	<!--EndSectError-->

	{content_wrap_start}
		{form_default}
		{form_tabs}
		<!--BeginSectGroup-->
		<!--BeginSectGroupStart-->
		<fieldset class="{group_class}">
			<!--BeginSectGroupTitle--> 
			<legend{title_properties}>{GroupTitle}</legend>
			<!--EndSectGroupTitle-->
		<!--EndSectGroupStart-->
		    {group_pre_content}
			<!--BeginSectGroupDescription-->
			<div class="desc">{GroupDescription}</div>
			<!--EndSectGroupDescription-->
				<!--BeginSectGroupRow-->
				<!--BeginSectWrapStart-->
				<div class="{wrap_class}">
				<!--EndSectWrapStart-->
	  			{field_container_start}
	  				{content_pre_label}
					<!--BeginSectGroupLabel-->
						{label_prefix}
						<label{label_class} for="{label_for}"{label_properties}> 
							{content_in_label}
							{label}
						</label>
						<!--BeginSectDescriptionLabel-->
						<span class="description">{field_description}</span>
						<!--EndSectDescriptionLabel-->
						{label_postfix}
					<!--EndSectGroupLabel-->
					{content}
	  			{field_container_end}
				<!--BeginSectWrapEnd-->
				</div>
				<!--EndSectWrapEnd-->
	  			<!--EndSectGroupRow-->
		    {group_post_content}
        <!--BeginSectGroupEnd-->
		</fieldset>
		<!--EndSectGroupEnd-->
		<!--EndSectGroup-->

		<!--BeginSectRequiredNote-->
		{_require_note}
		<!--EndSectRequiredNote-->		
	{content_wrap__end}
	<!--BeginSectControls-->
	<div class="{actions_class}">{ActionButtons}{ActionButtonCancel}</div>
	<!--EndSectControls-->
	{fixed_post_content}
	
	{inner_wrap_end}
</{record_tag}>
{outer_wrap_end}
<!--BeginSectFooters-->
<script type="text/javascript"> 
	ff.pluginLoad("ff.ffRecord", "/themes/library/ff/ffRecord.js", function() {
		ff.ffRecord.init('{component_id}');
	});
</script> 
<!--EndSectFooters-->