<!--BeginSezMenu-->
<aside class="left-off-canvas-menu">
    <ul class="off-canvas-list">
    <!--BeginSezHomeHeader-->
        <li {item_properties}>
        <!--BeginSezHomeImg-->
        <a{class_elem} href="{show_file}" <!--BeginSezTarget-->target="_blank"<!--EndSezTarget-->{menu_properties}><img src="{site_path}/cm/showfiles.php/{theme_inset}/images/spacer.gif" alt="{home}" /></a>
        <!--EndSezHomeImg-->
        <!--BeginSezHomeNoImg-->
        <a{class_elem} href="{show_file}" <!--BeginSezTarget-->target="_blank"<!--EndSezTarget-->{menu_properties}>{home}</a>
        <!--EndSezHomeNoImg-->
        <!--BeginSezHomeHeaderParent-->
        <!--EndSezHomeHeaderParent-->
        <!--BeginSezHomeHeaderNoParent-->
        <!--EndSezHomeHeaderNoParent-->
        <!--BeginSezHomeFooter-->
        <!--EndSezHomeFooter-->
        </li>
        {child}
    
    <!--EndSezHomeHeader-->
    <!--BeginSezItem-->
        <li {item_properties}>
        <!--BeginSezItemImg-->
            <!--BeginSezItemImgHere-->
            <a{class_elem} href="{show_file}" <!--BeginSezAjaxChild-->rel="{ajax_child}"<!--EndSezAjaxChild--> <!--BeginSezTarget-->target="_blank"<!--EndSezTarget-->{menu_properties}><img src="{site_path}/cm/showfiles.php/{theme_inset}/images/spacer.gif" alt="{item}" /></a>
            <!--EndSezItemImgHere-->
            <!--BeginSezItemImgNoHere-->
            <a{class_elem} href="{show_file}" <!--BeginSezAjaxChild-->rel="{ajax_child}"<!--EndSezAjaxChild--> <!--BeginSezTarget-->target="_blank"<!--EndSezTarget-->{menu_properties}><img src="{site_path}/cm/showfiles.php/{theme_inset}/images/spacer.gif" alt="{item}" /></a>
            <!--EndSezItemImgNoHere-->
            <!--BeginSezItemImgNoLink-->
            <img src="{site_path}/cm/showfiles.php/{theme_inset}/images/spacer.gif" alt="{item}" />
            <!--EndSezItemImgNoLink-->
        <!--EndSezItemImg-->
        <!--BeginSezItemNoImg-->
            <!--BeginSezItemNoImgHere-->
                <a{class_elem} href="{show_file}" <!--BeginSezAjaxChild-->rel="{ajax_child}"<!--EndSezAjaxChild--> <!--BeginSezTarget-->target="_blank"<!--EndSezTarget-->{menu_properties}>{item}</a>
            <!--EndSezItemNoImgHere-->
            <!--BeginSezItemNoImgNoHere-->
                <a{class_elem} href="{show_file}" <!--BeginSezAjaxChild-->rel="{ajax_child}"<!--EndSezAjaxChild--> <!--BeginSezTarget-->target="_blank"<!--EndSezTarget-->{menu_properties}>{item}</a>
            <!--EndSezItemNoImgNoHere-->
            <!--BeginSezItemNoImgNoLink-->
                <span class="no-link">{item}</span> 
            <!--EndSezItemNoImgNoLink-->
        <!--EndSezItemNoImg-->
        <!--BeginSezItemDescription-->
            <div class="desc">{description}</div>
        <!--EndSezItemDescription-->
        {child}
        </li>
    <!--EndSezItem-->
    </ul> 
</aside>
<a class="exit-off-canvas" href="#"></a> 
<!--EndSezMenu-->

<!--BeginSezError-->
    <p class="error">{strError}</p>
<!--EndSezError-->