<!--BeginSectHeaders-->
<script type="text/javascript">
ff.pluginLoad("ff.ffField",	"/themes/library/ff/ffField.js", function() {
	ff.pluginLoad("ff.ffField.datechooser", "{widget_path}/datechooser.js");
});
</script>
<!--EndSectHeaders-->


<!--BeginSectFooters-->
<script type="text/javascript">
	ff.pluginAddInit("ff.ffField.datechooser", function () {
		<!--BeginSectBinding-->
		ff.ffField.datechooser.fill("{container}{id}", '{container}day_{id}', '{container}month_{id}', '{container}year_{id}', {sel_day}, {sel_month}, {sel_year}, {type_date});
		<!--EndSectBinding-->
	});
</script>
<!--EndSectFooters-->

<!--BeginSectControl-->
<div class="{container_class}" {properties}>
	<input type="hidden" id="{container}{id}" name="{container}{id}" value="{value}"/>
	
	<div class="{day_class}">
		<select id="{container}day_{id}" onchange="ff.ffField.datechooser.change('{container}{id}', '{container}day_{id}', '{container}month_{id}', '{container}year_{id}')"><option value="0">{_day}</option></select> 
	</div>
	<div class="{month_class}">
		<select id="{container}month_{id}" onchange="ff.ffField.datechooser.change('{container}{id}', '{container}day_{id}', '{container}month_{id}', '{container}year_{id}')"><option value="0">{_month}</option></select>
	</div>
	<div class="{year_class}">
		<select id="{container}year_{id}" onchange="ff.ffField.datechooser.change('{container}{id}', '{container}day_{id}', '{container}month_{id}', '{container}year_{id}')"><option value="0">{_year}</option></select>
	</div>
</div>
<!--EndSectControl-->
